{% extends "base.html" %}
{%block title %}Log In{% endblock %}

{%block content %}

<form method="POST"></form>
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css" href="loginPage.jpeg">
    <style>
        #test {
            width: 300px;
            height: 250px;
            margin: -300;
            display: flex;
            display: table-cell;
            vertical-align:left;
        }
    </style>
</head>
<body>
    <form action="/login" method="GET">
        <div>
            <p id="test">
                
            </p>
        </div>
        
        <p>
            <div style="text-align:center;">
                <input type="text" name="username"/>
            </div>
            
        </p>

        <p>
            <div style="text-align:center;">
                <input type="password" name="password" />
            </div>
        </p>

        <p>
            <div style="text-align:center;">
                <button class="pastel-purple-button">Submit</button>
            </div>
        </p>

        <p>
            <div style="text-align:center;">
                <p>If you don't have an account, create one <a href="register">here</a>!</p>
            </div>
        </p>

    </form>
    <style>
        body {
          background-image: url('static/loginPage.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
    
</body>
</html>
{% endblock %}